body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #e0f7fa;
    margin: 0;
    padding: 0;
  }
  
  .scene {
    display: none;
    padding: 50px;
  }
  
  button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 20px;
    cursor: pointer;
    background-color: #26a69a;
    color: white;
    border: none;
    border-radius: 8px;
  }
  
  #money, #timer {
    font-size: 24px;
    margin: 20px;
  }
  
  .character {
    max-width: 200px;
    display: block;
    margin: 20px auto;
  }
  #game-area {
  position: relative;
  width: 600px;
  height: 400px;
  margin: 0 auto;
  background: url('img/sokak.png') no-repeat center center;
  background-size: cover;
  border: 2px solid #444;
  overflow: hidden;
}

#player {
  position: absolute;
  width: 50px;
  bottom: 10px;
  left: 275px;
}

.trash {
  position: absolute;
  width: 40px;
  cursor: pointer;
}
